@model DoctoresModel;
@{
    ViewData["Title"]="Editar el Doctor";
}

    <div class="text-center">
        <h1 class="display-2">Editar Doctor: @Model.Name</h1>
    </div>

<form asp-controller="Doctores" asp-action="DoctoresEdit">

    <div class="mb-3">
        <label for="nombre"  class="form-label"> Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba el nombre del doctor" />

    </div>

    <div class="mb-3">
        <label for="apellido"  class="form-label"> Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Escriba el apellido del doctor" />

    </div>

    <div class="mb-3">
        <label for="edad"  class="form-label"> Edad</label>
        <input type="text" class="form-control" id="edad" name="edad" placeholder="Escriba la edad del doctor" />

    </div>

    <div class="mb-3">
        <label for="especialidad"  class="form-label"> Especialidad</label>
        <input type="text" class="form-control" id="especialidad" name="especialidad" placeholder="Escriba la especialidad del doctor" />

    </div>

    <div class="mb-3">
        <label for="telefono"  class="form-label"> Telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Escriba el telefono del doctor" />

    </div>

    <div class="mb-3">
        <label for="celular"  class="form-label"> Celular</label>
        <input type="text" class="form-control" id="celular" name="celular" placeholder="Escriba el celular del doctor" />

    </div>

    <div class="mb-3">
        <label for="direccion"  class="form-label"> Dirección</label>
        <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Escriba la dirección del doctor" />

    </div>

    <div asp-validation-summary="All" class="Text-danger"></div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-controller="Doctores" asp-action="DoctorList" class="btn btn-secundary mb-3"> Regresar </a>

</form>